@model IEnumerable<ProductCart.Models.Models.ProductCategory>
@{
    ViewBag.Title = "Store";
}
<h3>Browse Product Categories</h3>

<p>
    Select from @Model.Count() category:</p>
<ul>
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(category.Name, "Browse", new { category = category.Name })</li>
    }
</ul>
